*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
:root{
    --background: #ccffff;
    --white: #fff;
    --shadow: rgba(0, 0, 0, 0.05);
    --black: #000;
    --ash: #edecec;
    --blue: #0066cc;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: var(--white);
    box-shadow: 0 5px 10px var(--shadow);
}

.input{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--black);
    pointer-events: none;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button{
    padding:  10px;
    border-radius: 6px;
    border: none;
    background-color: var(--ash);
    font-size: 20px;
    cursor: pointer;
    background-color: var(--ash) ;
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: var(--blue);
}